/* General */

body {
    min-height: 100vh;
    background-color: #FFE0E4;
    margin: 0px;
}
br {
    display: block;
    content: "";
}
hr {
    border: 1px solid #EFCCD1;
    margin: 4px 0 16px;
}
a:link {
    color: #045EDD;
    text-decoration: none;
    outline: 0;
}
a:visited {
    color: #ED687E;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: #DD0428;
    text-decoration: underline;
}
ol {
    margin: 2px 0 2px -20px;
}
ol > li {
    margin-bottom: 16px;
}

/* Page */

.page-container {
    min-width: 816px;
    min-height: max(943px, 100vh);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.95em;
    line-height: 1.25;
    margin: 0 auto;
}

/* Header */

.header {
    width: 100%;
    background-color: #FFF;
    height: 156px;
}
.header-wordmark {
    display: inline-block;
    position: relative;
    left: 284px;
    top: 34px;
    float: left;
}
.header-mosaic {
    float: right;
    margin: 0;
}

/* Sidebar */

.sidebar {
    display: inline-block;
    position: relative;
    top: 18px;
    left: -350px;
}
.sidebar img {
    display: block;
}
.sidebar img:first-child {
    /* Fix subpixel gap on Chrome */
    box-shadow: inset 0 -1px #DD0428;
}
.sidebar-links {
    width: 256px;
    font-size: 1.1em;
    font-weight: bold;
    background-color: #DD0428;
    padding-bottom: 24px;
    box-sizing: border-box;
}
.sidebar-links > a {
    display: table;
    width: 100%;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    padding: 4px 10px;
}
.sidebar-links > a:hover {
    background-color: #E85971;
}
.sidebar-links > a div {
    display: table-cell;
    vertical-align: middle;
}
.sidebar-links > a div:first-child:not(:only-child) {
    width: 200px;
}
.sidebar-links > a div:nth-child(2) {
    font-size: 0.8em;
    text-align: right;
    transition: padding-right .2s;
}
.sidebar-links > a:hover div:nth-child(2) {
    padding-right: 12px;
}
.sidebar-links > br {
    margin-bottom: 16px !important;
}

/* Language select */

.sidebar-links > input:is(:hover, :checked) ~ a:first-of-type ~ .language-select,
.language-select:hover {
    display: inline-block;
}
.sidebar-links > input {
    position: absolute;
    margin: 0;
    width: 256px;
    height: 30px;
    opacity: 0;
}
.sidebar-links > input:is(:hover, :checked) ~ a:first-of-type {
    background-color: #E85971;
}
.sidebar > .sidebar-links > a:first-of-type {
    padding-right: 8px !important;
    cursor: default;
}
.language-select {
    display: none;
    position: absolute;
    left: 256px;
    top: 248px;
    width: auto;
    height: auto;
    max-height: 420px;
    overflow: auto;
    padding: 8px 0;
    z-index: 1;
}
.language-select > a {
    font-size: 0.9em;
    padding-right: 28px !important;
    white-space: nowrap;
}

/* Common classes */

.content {
    margin: 16px 28px 0 308px;
    padding-bottom: 24px;
}
.content img {
    display: initial;
}
.title {
    font-size: 2em;
    font-weight: bold;
}
.title-divider {
    border: 1px solid #E2BAC0;
}
.title-small {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: -4px;
}
.border {
    border: 2px solid #EFCCD1;
    margin: 16px 0;
    padding: 16px 20px 20px;
}
.left {
    float: left;
    margin-right: 16px;
}
.right {
    float: right;
    margin-left: 16px;
}

/* Miscellaneous */

.stub {
    visibility: hidden;
}
.hide {
    display: none;
}

/* Homepage download banner hover */

@keyframes download-hover {
    from {
        filter: hue-rotate(360deg);
    }
    to {
        filter: hue-rotate(0deg);
    }
}

/* Collapse horizontally-aligned elements when width is less than 1280 pixels */

@media (max-width:1279px) {
    .left,
    .right {
        float: none;
        text-align: center;
        margin-bottom: 16px;
    }
}

/* Hide mosaic when width is less than 1100 pixels */
@media (max-width:1151px) {
    .header-mosaic {
        display: none;
    }
}