body {
	min-width: 784px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.95em;
	background-color: #FFE0E4;
	margin: 0px;
}
img {
	display: block;
}
br {
	margin-bottom: 16px;
}
hr {
	border: 1px solid #EFCCD1;
	margin: 4px 0 16px;
}
a:link {
	color: #045EDD;
	text-decoration: none;
	outline: 0;
}
a:visited {
	color: #DD04CA;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	color: #DD0428;
	text-decoration: underline;
}

/* Top header */

.header {
	width: 100%;
	height: 168px;
	background-color: white;
	overflow: hidden;
}
.pfgradient {
	float: right;
}
.pfcolumn {
	float: left;
}
.pfimage {
	width: 48px;
	padding: 4px 6px;
	opacity: 0.2;
	transition: opacity .2s;
	filter:
		invert(0.5)
		sepia(1)
		saturate(100)
		hue-rotate(0deg);
}
.pfimage:hover {
	opacity: 0.4;
}

/* Sidebar and logo */

.sidebar {
	position: absolute;
	top: 16px;
	left: 28px;
}
.sidelinks {
	width: 256px;
	height: 408px;
	font-size: 18px;
	font-weight: bold;
	background-color: #DD0428;
}
.sidelinks div {
	height: 22px;
	padding: 6px 10px;
	transition: padding-right .2s;
}
.sidelinks div:hover {
	background-color: #E85971;
	padding-right: 20px;
}
.sidelinks span {
	font-size: 16px;
	float: right;
}
.sidelinks a {
	color: white;
	text-decoration: none;
}
.sidelinks br {
	margin-bottom: 0 !important;
}
.textlogo {
	position: absolute;
	left: 256px;
	top: 24px;
}
.pixels {
	margin-bottom: 32px;
}

/* Common classes */

.content {
	margin: 16px 28px 0 308px;
	padding-bottom: 24px;
}
.content img {
	display: initial;
}
.title {
	font-size: 2em;
	font-weight: bold;
}
.smalltitle {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: -4px;
}
.tophr {
	border: 1px solid #E2BAC0;
}

/* Homepage */

.homeleft {
	float: left;
	margin-right: 16px;
}
.homeleft img {
	width: 400px;
}
.homeright {
	float: right;
	margin-left: 16px;
}
.homeright iframe {
	width: 400px;
	height: 225px;
}
.homebottom {
	clear: both;
	padding-top: 16px;
}
.dlbanner {
	clear: both;
	text-align: center;
	padding-top: 32px;
}
.dlbanner img {
	border-radius: 12px;
}
.dlbanner img:hover {
	animation: download-hover 30s linear infinite;
}
.news {
	display: table;
	margin: 16px 0;
}
.newscol {
	display: table-cell;
	white-space: nowrap;
	padding-right: 16px;
	font-weight: bold;
}

/* Downloads page */

.warning {
	display: table;
	background-color: #A8C0EF;
	/*
	background-color: #F5A0AD;
	*/
	border-radius: 8px;
	margin-bottom: 16px;
	padding: 16px;
}
.warning div {
	display: table-cell;
	vertical-align: middle;
	font-weight: bold;
}
.warnicon {
	width: 64px;
}
.warnicon div {
	width: inherit;
	height: 64px;
	color: white;
	text-align: center;
	font-size: 48px;
	background-color: #045EDD;
	border-radius: 8px;
}
.warntext {
	padding-left: 16px;
}
.dlcontainer {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	margin: 24px 0;
}
.dlcontainer ul {
	flex-grow: 1;
	margin: 16px 0 8px;
}
.dlcontainer li {
	margin: 0 0 12px -24px;
}
.dlinfo {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.dlinfo.dlleft {
	margin-right: 12px;
}
.dlinfo.dlright {
	margin-left: 12px;
}
.dldesc {
	flex-grow: 1;
	margin: 18px 0 24px;
}
.dllink {
	display: flex;
}
.dllink a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}
.dlbutton {
	flex-grow: 1;
	flex-basis: 0;
	background-color: #DD0428;
	text-align: center;
	padding: 12px 0;
}
.dlbutton:hover {
	background-color: #E85971;
}
.dlbutton.dlleft {
	margin-right: 4px;
}
.dlbutton.dlright {
	margin-left: 4px;
}
.blue {
	background-color: #045EDD;
}
.blue:hover {
	background-color: #5995E8;
}
.dlmore {
	font-size: 0.85em;
	text-align: center;
	margin-top: 8px;
}

/* Miscellaneous */

.stub {
	visibility: hidden;
}

/* Homepage download banner hover */

@keyframes download-hover {
	from {
		filter: hue-rotate(360deg);
	}
	to {
		filter: hue-rotate(0deg);
	}
}

/* Classes changed when width is less than 1280 pixels */

@media (max-width:1279px) {
	.sidebar {
		left: 16px;
	}
	.textlogo {
		left: 256px;
	}
	.content {
		margin: 16px 16px 0 288px;
	}
	.homeright,
	.homeleft {
		float: none;
		text-align: center;
		margin: 0 0 12px 0;
	}
	.homeright iframe {
		width: 480px;
		height: 270px;
	}
	.homeleft img {
		width: 480px;
	}
	.dlbanner {
		padding-top: 24px;
	}
	.dlbanner img {
		width: 480px;
	}
	.dlcontainer {
		margin-bottom: 0;
	}
	.dlinfo {
		flex: 100%;
	}
	.dlleft,
	.dlright {
		margin: 0 0 24px;
}

/* Classes changed when screen width is less than 1024 pixels */

@media (max-width:1071px) {
	.pfgradient {
		display: none;
	}
}